.containerDetail{
    background-color: rgb(22, 22, 22);
    color: white;
    display: flex;
    
}
.containerDetailInter{
    width: 85%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgb(54, 54, 54);
}
.backHome{
    position: absolute;

    left: 9%;
    top: 50px;
   
}
.backHome svg{
    height: 25px;
    width: 30px;
    position: relative;
    display: inline-block;
    
    left: -2%;
    color: white;
   
    background-color: rgb(0, 174, 255);
    
    transition: 0.5s;
    
}
.backHome svg:hover{
    
    background-color: rgb(31, 221, 255);
}


.imageDetail{
    position: relative;
    width: calc(40%);
    transition: 0.5s;
}
.imageDetail:hover{
    width: calc(70%);
}
.platformDetail h2{
    color: white;
}
.platformDetail div{
    display: inline;
    color: white;
    
}
.platformDetail{
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.108);
    width: fit-content;
    padding: 10px 20px;
    border-radius: 10px;
    
    margin: 0 auto;
    margin-top: 10px;
}

.genresDetail{
    
    color: rgb(0, 0, 0);
    justify-items: center;
    margin: 10px auto;
    background-color: rgba(0, 0, 0, 0.208);
    padding: 5px;
    max-width: 400px;
}
.genresDetail h3{
    display: inline;
    color: white;
}
.containerDescription h2{
    color: white;
}
.containerDescription h4{
    position: relative;
    margin: 0 auto;
    max-height: 200px;
    width: calc(80%);
    overflow: auto;
    border: solid rgba(0, 0, 0, 0.334) 2px;
    background-color: rgba(0, 0, 0, 0.089);
    color: white;
}

.containerDescription{
    color: rgb(0, 0, 0);
}
.releaseDetail h3{
    display: inline;
    color: white;
}


.releaseDetail h4{
    display: inline;
    color: rgb(255, 255, 255);
    width: max-content;
    background-color: rgba(0, 0, 0, 0.075);
    padding: 4px;
    border-radius: 10px;
    border: solid rgba(0, 128, 0, 0.404) 1px;
}
.releaseDetail{
    color: rgb(0, 0, 0);
    margin: 10px;
}

.ratingDetail{
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.031);
    border: solid rgba(255, 255, 255, 0.104) 1px;
}
.ratingDetail h3{
    display: inline;
    margin-right: 20px;
}
.ratingDetail h4{
    display: inline;
    color: red;
}

.loadingDetail img{
    position: relative;
    width: calc(20%);
    display: inline-block;
    margin-top: 100px;
    padding: 10%;
    margin-bottom: 380px;
    
    
   }
   .loadingDetail h1{
    position: absolute;
    display: inline-block;
   margin-left: -30px;
   margin-top: 25%;
   left: 46%;
   
   }
@media only screen and (max-width: 768px) {

.backHome{
    margin-left: 40px;
    
   }
   .loadingDetail img{
    margin-top: 250px;
    margin-bottom: 480px;
   }
   .containerId{
    font-size: 16px;
    margin: auto auto;
    top: -50px;
   }
   
}