
.containerForm{
    background-color: rgb(34, 34, 34);
   
   height: 110vh;
    
}
.containerForm h2{
    color: white;
    background-color: rgb(54, 54, 54);
    height: 50px;
    margin-top: 0;
    padding-top: 18px;
    transition: 0.9s;
    -webkit-text-stroke: 1px rgb(0, 0, 29);
    cursor: pointer;
}
.containerForm h2:hover{
   
    -webkit-text-stroke: 1px rgb(0, 174, 255);
}
.containerData{
    background-color: rgb(54, 54, 54);
    width: calc(45%);
    display: inline-block;
    position: relative;
    border: 2px solid rgb(0, 174, 255);
    padding-top: 6px;
    right: 22%;
    height: 550px;
}
.containerData button{
   margin-top: 30px;
   font-size: 100%;
   width: 50%;
   height: fit-content;
   background-color: cornsilk;
   transition: 0.8s;
   border-radius: 7px;
}
.containerData button:hover{
    background-color: rgb(156, 255, 161);
}
.containerData input{
    width: 80%;
    margin-bottom: 20px;
}
.containerData textarea{
    width: 80%;
    height: 60px;
}
.containerData label{
    color:white;
    display:block;
}
.containerSelecPlat {
    margin-bottom: 20px;
}
.condition div{
    border: solid rgba(255, 255, 255, 0.596) 1px; 
    background-color: rgba(34, 30, 30, 0.226);
    width: fit-content; 
    display: block;
   
    margin: 0 auto;
}
.condition{
    display: inline-block;
    position: absolute;
    padding-top: 15px;
    background-color: rgb(54, 54, 54);
    border: 2px solid rgb(0, 174, 255);
    align-items: center;
    top: 90px;
    width: calc(38%);
    right: 6%;
    font-size: 20px;
    color: rgb(255, 0, 0);
    height: 538px;
    padding-left: 10px;
    padding-right: 10px;
}
.containerPlat{
    position: absolute;
    display: inline;
    color: white;
    top: 25%;
    right: 8.5%;
    width:calc(35%);
    
}
.containerPlat div{
    display: inline-block;
    margin-right: 5px;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px 5px 10px 5px;
    margin-bottom: 5px;
} 
.containerPlat button{
    appearance: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 20px;
    font-weight: 100;
    margin-left: 3px;
    cursor: pointer;
}
.containerPlat h3{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.containerGenre{
    position: absolute;
    display: inline;
    color: white;
    top: 65%;
    right: 8.5%;
    width:calc(35%);
    margin-left: 10%;
   
    
}
.containerGenre h3{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.navHome{
    position: absolute;
    left: 5%;
    z-index: 1;
    top: 3.5%;
}
.navHome svg{
    height: 25px;
    width: 30px;
    position: relative;
    display: inline-block;
    
    left: -2%;
    color: white;
   
    background-image: linear-gradient(20deg, #0099ff, #0099ff, #00a2ff,#0099ff);
    transition: background-position 0.2s;
    
    transition: 0.5s;
   
}
.navHome svg:hover{
    background-position: 2px -2px ;
    
}
   @media only screen and (max-width: 768px) {
    .containerForm{
        
        height: 1350px;
       }
       .containerData{
        height: 550px;
        position: relative;
        width: calc(85%);
        right: 0%;
        
       }
       .navHome img{
        width: 35px;
        height: 25px;
    }
    .navHome{
        top: 12px;
    }
       .containerForm h2{
        font-size: 18px;
    }
       .condition{
        position: relative;
        width: calc(80%);
        right: 0%;
        top: 60px;
        
        
        
        
       }
       .containerPlat div{
        
        font-size: 10px;
        
        
       }
       .containerPlat button{
        
        font-size: 10px;
        
       }
       .containerGenre div {
        font-size: 10px;
       }
       .containerGenre button {
        font-size: 10px;
       }
       .containerGenre{
        position: absolute;
        display: block;
       top: 1010px;
       margin: auto 5%;
       
        width: calc(85%);
        color: rgb(255, 255, 255);
       }
       .containerPlat{
        position: relative;
        display: block;
       
        color: rgb(255, 255, 255);
        top: -350px;
        right: 0%;
        margin: 0 auto;
        width:calc(85%);
      
    }
   }