
.landingPage {
    background-image: url("https://images.unsplash.com/photo-1482855549413-2a6c9b1955a7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
    background-size: cover;
    height: 100vh;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    height: 100vh
}
.landingPage div{
    width: 100%;
    
}

.welcomeLanding{
    position: relative;
    top: -250px;
 padding: 100px 0px;
      margin: 0 auto;
       
       background-color: rgba(247, 247, 247, 0.100);
        text-align: center;
        color: rgb(255, 255, 255);
       
        font-size: 45px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
        
 }

 .LinkIngreso{
    position: absolute;
    text-decoration: none;
    display: flex;
   margin: 0 44%;
    color: white;
    width: 200px;
    border-radius: 50px;
    transition: 0.8s;
    border: solid rgb(255, 255, 255) 2px;
    height: 50px;
}
.LinkIngreso svg{
    position: absolute;
    top: -5px;
    left: -3px;
   height: 60px;
   width: 60px;
   fill: rgb(78, 78, 78);
   transition: 0.5s ease-in-out;
    
}
.LinkIngreso:hover{
    background-color: rgba(118, 223, 255, 0.342);
    
    border: solid rgb(0, 0, 0) 3px;
}

.LinkIngreso:hover svg{
    margin: 1px 145px;
    fill: white;
}
.on{
    opacity: 0;
    position: relative;
    font-size: 45px;
    transition: 0.5s ease-in-out;
    top: -7px;
    left: -15px;
    
}
.off{
    font-size: 45px;
    position: relative;
    top: -7px;
    left: 70px;
    transition: 0.5s ease-in-out;
}
.LinkIngreso:hover .off{
    opacity: 0;
}
.LinkIngreso:hover .on{
    opacity: 100;
}
 @media only screen and (max-width: 768px) {

 .welcomeLanding{
    font-size: 32px;
   }

}